*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} html, body{
  height: 100%;
  width: 100%;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}


#main{
    height: 850px;
    width: 100%;
    /* background-color: grey; */
}
#header{
    height: 190px;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
}
.heading{
    font-size: 45px;
    color: rgb(82, 165, 150);
    letter-spacing: -1px;
    font-weight: 200;
}
.statement{
    font-size: 19px;
    color: black;
}
span{
    color: rgb(82, 165, 150);
    font-size: 19px;
    border-bottom: 2px soild rgb(82, 165, 150);
    cursor: pointer;
}
.review{
    height: 700px;
    width: 100%;
    /* background-image: url('https://media.designcafe.com/wp-content/uploads/2021/03/30153426/2bhk-home-interior-designers-whitefield-bangalore.jpg'); */
    object-fit: cover;
    position: relative;
}
.review-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    /* background-color: rgba(11, 11, 14, 0.7); */
    
}
#review-div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 30px;
}
#review1{
    height: 500px;
    width: 330px;
    background-color: rgb(252, 242, 225);
    color: black;
    border-left: 12px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    /* font-size: 24px; */
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}
#review2{
    height: 500px;
    width: 330px;
    background-color: rgb(252, 242, 225);
    color: black;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
#review3{
    height: 500px;
    width: 330px;
    background-color: rgb(252, 242, 225);
    color: black;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
#rev{
    font-size: 18px;
    color: rgb(74, 5, 5);
}
#name{
    font-size: 23px;
    color: black;
}
#location{
    font-size: 16px;
    color: gray;
}
#end-div{
    height: 1000px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#part1{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(82, 165, 150);
}
#book{
    height: 60px;
    width: 270px;
    font-size: 20px;
    color: white;
    background-color: rgb(82, 165, 150);
    cursor: pointer;
}
#part2{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#div1{
    height: 500px;
    width: 300px;
}
#div2{
    height: 500px;
    width: 300px;
}
#div3{
    height: 500px;
    width: 300px;
}
#div4{
    height: 500px;
    width: 300px;
}
#lt-div{
    font-size: 17px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 12px 4px;
    color: rgb(82, 165, 150);
    font-weight: 100;
}
#lt-div:hover{
    box-shadow:
    0 0 2px rgb(195, 195, 195),
    0 0 7px rgb(195, 195, 195),
    0 0 13px rgb(195, 195, 195),
    0 0 18px rgb(195, 195, 195);
    color: rgb(214, 214, 214);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}